.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ******** New Style *********** */
.banner{
  height: 70vh;
  /* background: #070745, url('../public/img/banner2.jpg'); */
  background: linear-gradient(#070745, rgba(0, 0, 0, 0.5)), url('../public/img/banner2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
.navbar-wrapper {
  /* background: white; */
  /* position: relative;
  top: 60px; */
  margin-top: 50px;
}
button.navbar-toggler {
  background: whitesmoke;
}
.collapse.navbar-collapse {
  flex-grow: 0;
}
li.nav-item {
  margin: 0px 10px;
}
a.navbar-brand{
  color: whitesmoke;
}
a.nav-link {
  font-size: 18px;
  color: whitesmoke;
}
a .navbar-brand:active,
a .navbar-brand:focus,
a .navbar-brand:hover,
a .navbar-brand:visited,
a:active,
a:focus,
a:hover,
a:visited{
  color: gainsboro !important;
  font-weight: 500;
}

a.nav-link i {
  margin-right: 8px;
}
a.nav-link i:active,
a.nav-link i:focus,
a.nav-link i:hover,
a.nav-link i:visited {
font-size: 18px;
}