@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Zilla+Slab:wght@500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* ******** New Style *********** */
.banner {
  height: 70vh;
  /* background: #070745, url('../public/img/banner2.jpg'); */
  background: linear-gradient(#070745, rgba(0, 0, 0, 0.5)), url('./img/banner2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 40vh; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

.navbar-wrapper {
  /* background: white; */
  /* position: relative;
  top: 60px; */
  margin-top: 50px;
}

button.navbar-toggler {
  background: whitesmoke;
}

.collapse.navbar-collapse {
  flex-grow: 0;
}

li.nav-item {
  margin: 0px 10px;
}

a.navbar-brand {
  color: whitesmoke;
}

a.nav-link {
  font-size: 13px;
  color: whitesmoke;
}

a .navbar-brand:active,
a .navbar-brand:focus,
a .navbar-brand:hover,
a .navbar-brand:visited,
a:active,
a:focus,
a:hover,
a:visited {
  color: gainsboro !important;
  font-weight: 500;
}

a.nav-link i {
  margin-right: 8px;
}

a.nav-link i:active,
a.nav-link i:focus,
a.nav-link i:hover,
a.nav-link i:visited {
  font-size: 14px;
}

.profile {
  padding: 25px;
  border: 3px solid whitesmoke;
  border-radius: 6px;
  background: white;
  position: relative;
  top: -95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profiler-wrapper {
  width: 70%;
}

.profile-img {
  width: 200px;
  height: 200px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  background: url('./img/user.jpg');
  background-repeat: no-repeat;
  background-position: 80% 20%;
  background-size: 220%;
  position: relative;
  top: -130px;
}

.details {
  position: absolute;
  top: 125px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* position: relative;
  top: -180px; */
}

.info h2 {
  /* padding: 50px 5px 20px; */
  /* font-family: 'Young Serif', serif; */
  font-family: 'Zilla Slab', serif;
  /* font-size: 38px; */
  font-weight: 700;
}

.info .job-title {
  margin: 25px 10px;
  text-transform: uppercase;
  letter-spacing: -1.9px;
}

.social-link {
  margin: 5px;
}

.social-link .btn {
  background: none;
  color: darkgray;
  font-size: 23px;
  border: none;
}

.about {
  margin: 10px auto;
  width: 75%;
  color: #80808099;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.portfolio button.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fafafa05;
  box-shadow: 0px 1px 1px #d3d3d370;
  margin: 0px 15px;
  font-weight: 500;
  height: 90px;
  width: 100px;
  padding: 15px 10px;
}
.portfolio button.btn:hover {
background-color:   #b312d4;
color: white;
};